* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
  /* declare a variable with `--` syntax */
  --one: #E1DBD2;
  --two: #9FA2AB;
  --three: #48556C;
  --four: #475166;
  --five: #444859 ;
  --six: #e3e2df;
  --seven: #5E5C6C;
}
/* background-color: var(--dark); */


body {
}

header {
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529; */
  color: var(--five);
}


/* navbar  */
.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  /* margin: 0 auto;
  padding: 10px 20px; */

}

.nav-area nav {
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
  width: 100%;
}

.navbarItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;

}

.navbar-items {
  position: relative;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.navbar-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.navbar-items > a, .navbar-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.navbar-items a:hover,
.navbar-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* homepage */
.homepageDiv {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  /* border: 2px solid */
}

.logoDiv {
  /* border: 1px solid yellow; */
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 13%;
  display: flex;
}

.logoImg {
  width: 80%;
  /* border: 1px solid green; */
  margin-left: auto;
  margin-right: auto;}

.homepageContent {
  /* border: 1px solid blue; */
  display: flex;
  margin-top: 4%;
}

/* finish styling button *** */
.learnMoreBtn {
  /* border: 1px solid brown; */
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  background-color: var(--three);
  color: var(--one);
  text-align: center;
}



/* information page */
.infoDiv {
  /* background-image: url(../public/images/backgroundImage.jpeg); */
  /* border: 1px solid yellow; */
  background-color: var(--six);
  color: var(--seven);
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: row;
}

.compInfo {
  width: 64%;
  /* background-color: var(--seven); */
  /* color: var(--six); */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 0;
  /* border: 1px solid var(--four); */
  margin-top: 70px;
  
}

.compInfoTitle {
  text-align: center;
  padding-bottom: 15px;
}

.compInfoContent {
  text-align: center;
  font-size: 21px;
  padding-bottom: 10px;
}


.goalDiv {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.missionDiv {
  margin-right: 5%;
}

.missionDiv, .visionDiv {
  border: 2px solid var(--four);
  width: 33%;
  border-radius: 10px;
}

.goalDiv h3 {
  background-color: var(--four);
  color: var(--six);
  padding: 5px;
  border-radius: 10px 10px 5px 5px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 5px;
}

.goalDiv p {
  font-size: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  /* border: 2px solid red; */
}

.visionDiv {
  /* border: 1px solid purple;
  width: 40%;
  padding: 15px; */

}

.compInfoQuoteDiv {
  /* border: 1px solid red; */
  margin-top: 80px;
  width: 20%;
  margin-right: 80px;
  display: flex;
  /* align-items: center; */
  margin-bottom: 30px;


}
.compInfoQuote {
  display: flex;
  /* align-items: center; */
  text-align: right;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 40%;
  font-style: oblique;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

/* about me page */
.aboutDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--six);
  color: var(--seven);
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  /* border: 2px solid pink; */
}

.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 85vh;
  margin-top: 70px;
  /* border: 2px solid orange; */
  padding-left: 50px;
}

.aboutInfo {
  width: 70%;
  border: 4px solid var(--four);
  font-size: 21px;
  /* padding: 10px; */
  height: 80%;
}

.aboutInfo p {
  padding: 15px
}

.aboutTitle {
  /* text-align: center; */
  /* border: 1px solid brown; */
  background-color: var(--four);
  color: var(--six);
  padding: 10px;
}

.bioPicDiv {
  display: flex;
  /* align-items: center; */
  /* margin-right: 3%;
  margin-left: 3%; */
  /* border: 1px solid pink; */
  justify-content: center;
  /* width: 40%; */
  padding-left: 50px;
  padding-right:50px;

}

.bioPic {
  /* width: 90%; */
  height: 80%;
  border: 7px solid var(--four);
/* margin: -1px;
margin-top: 0; */
top: 0;
}

/* services page */
/* .servicesDiv {
  position: relative;
  top: 100px;
  border: 1px solid red;
  box-sizing: border-box;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
} */

.servicesDesc {
  font-size: 22px;
}

.servicesLinks {
 color: inherit;
 text-decoration: none;

}

.servicesList {
  list-style: none;
}

.serviceCompDivs {
  position: relative;
  top: 100px;
  border: 1px solid red;
  box-sizing: border-box;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
}

/* initial consult */
.consultDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.consultWordsDiv {
  width: 46%;
  border: 1px solid yellow;

}

.consultDesc {
  font-size: 22px;
}

.consultList {
  font-size: 20px;
}

.consultListTitle {
  font-size: 22px;
}

.consultPicDiv {
  width: 46%;
  border: 2px solid purple;
  display: flex;
  justify-content: center;
}

/* life review */
.reviewContainer {
  /* border: 13px solid yellowgreen; */
  display: flex;
  align-items: center;
}

.reviewDiv {

  /* border: 2px solid blueviolet; */
  box-sizing: border-box;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.reviewDiv li, .reviewDiv p {
  font-size: 24px;
}


/* Vigil Planning */
.VigilPlanList, .vigilList {
  margin-left: 25px;
}

/* addl services */
.addlServicesDiv li {
font-size: 24px;
}

/* contact page */
.contactDiv {
  margin-top: 100px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: blue;  add a background color once have color scheme*/ 
  border: 2px solid yellow;
}

.contactDiv p {
  font-size: 24px;;
}

.formDiv {
  display: flex;
  justify-content: center;
  border: 1px solid green;
  margin-top: 0px;
}

form {
  width: 40%;
  border: 1px solid red;
  padding: 15px;
  border-radius: 15px;
  font-size: 24px;

}

.formName, .formEmail, .formPhone, .formMessage {
  width: 100%;
  border: 1px solid pink;
  box-sizing:border-box;
}


input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

textarea {
  width: 100%;
}

/* input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
} */
/* 
label {
  margin-right: 10px;
} */

.formSubmitBtn {
  border-radius: 5px;
}
.formSubmitDiv {
  display: flex;
  justify-content: center;
}

/* resources page */
.resourcesContainer {
  /* border: 1px solid red; */
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: row;
  background-color: var(--one);
  color: var(--four)
}

.resourcesDiv {
  /* border: 1px solid purple; */
  margin-top: 70px;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.resourcesDiv ul {
  padding-left: 30px;
  font-size: 20px;
  list-style:circle;
}

.pwrptDiv {
  /* border: 1px solid blue; */
  margin-top: 70px;
  width: 50%;

}

.pwrpt {
  padding-left: 20px;
  padding-right: 20px;
  width: 99%
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid orange; */
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: var(--seven);
  opacity: 0.5;
  color: var(--one)
  /* background-color: var(--one);
  opacity: 0.6;
  color: var(--seven) */

}

.contact {
  /* border: 1px solid purple; */
}

.contact i {
  margin-right: 5px;
}

.contact a {
  color: inherit;
  text-decoration: none;
}